.title {
  position: relative;
  margin-bottom: 36px;
  &__short {
    position: absolute;
    top: -20px;
    font-size: 48px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    color: var(--gray-color);
    @include breakpoint(md) {
      top: -40px;
      font-size: 60px;
    }
    @include breakpoint(lg) {
      font-size: 72px;
    }
  }
  &__long {
    position: absolute;
    color: var(--primary-color);
    display: inline-block;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
  }
}
