.footer {
  position: relative;
  background-color: var(--main-color);
  &__logo {
    font-size: 24px;
    font-weight: 700;
    @include flex();
    color: var(--white-color);
    span {
      color: var(--primary-color);
    }
  }
  &__wapper {
    display: grid;
    grid-template-columns: 1fr;
    @include breakpoint(md) {
      grid-template-columns: repeat(2, 1fr);
    }
    color: var(--white-color);
  }

  //   --------------- left side logo content and socil icon
  .left__side {
    padding: 32px 0;
    @include breakpoint(lg) {
      order: 1;
      padding: 64px 0;
      padding-left: 64px;
    }
    p {
      font-size: 14px;
      margin-top: 8px;
      line-height: 18px;
      letter-spacing: 1px;
    }
    .icons {
      max-width: 140px;
      @include justify();
      margin-top: 18px;
      a {
        color: var(--white-color);
        font-size: 20px;
        transition: all 0.5s;
        &:hover {
          color: var(--gray-color);
        }
      }
    }
  }

  //   ---------------------- right side link and address
  .right__side {
    padding: 32px 0;
    @include breakpoint(lg) {
      padding: 64px 0;
    }
    &_wapper {
      display: grid;
      grid-template-columns: 1fr;
      gap: 32px;
      @include breakpoint(sm) {
        grid-template-columns: repeat(3, 1fr);
      }
      ul {
        margin-top: 10px;
      }
      .heading{
        font-weight: 600;
        font-size: 17px;
      }
      a {
        color: var(--gray-color);
        font-size: 14px;
        padding: 9px 0;
        display: inline-block;
      }
      .office__info {
        li {
          display: flex;
          align-items: self-start;
          padding: 9px 0;
          gap: 4px;
          img {
            width: 16px;
          }
          p {
            font-size: 14px;
            font-weight: 300;
          }
        }
      }
    }
  }
}

// ------------------ Bootom footer
.bootom__footer {
  background-color: #15265b;
  height: 60px;
  @include center();
  p {
    color: var(--white-color);
  }
  a {
    color: var(--primary-color);
    font-weight: 600;
  }
}
